.logo{
    margin-top: -53px;
    margin-left: 18px;
}
.p{
    margin-left: 79%;
    margin-top: -61px;
}

@media (max-width: 700px) {
    .p{
        margin-left: 20%;
       
    }
    .logo{
      
        margin-top: 0;
        margin-left: 35%;
    }
}