.imageWrapper {
    position: absolute;
    width: 250px; /* Set width for larger screens */
    height: 250px; /* Set height for larger screens */
    max-width: 100%;
    margin: -23% 0% 0% 35%; /* Center the image wrapper */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroImage {
    border-radius: 50%;
    box-shadow: 0 0 2vw rgb(0, 208, 255); /* Adjusted shadow size for viewport responsiveness */
  }

  @media screen and (max-width: 768px) {
    .imageWrapper {
      display: none; /* Hide image wrapper on smaller screens */
      width: 200px; /* Set width for smaller screens */
      height: 200px; /* Set height for smaller screens */
    }
    .heroImage {
      display: none; /* Hide hero image on smaller screens */
      box-shadow: 0 0 1.5vw rgb(0, 208, 255); /* Adjusted shadow size for smaller screens */
    }
    .mobileHidden {
        display: block;
      }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .imageWrapper {
        width: 220px; /* Adjust width for medium screens */
        height: 220px; /* Adjust height for medium screens */
    }
    .heroImage {
        box-shadow: 0 0 1.8vw rgb(0, 208, 255); /* Adjust shadow size for medium screens */
    }
  }
